.btn-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
}

.btn {
    margin-top: 5px;
}

.texto {
    margin-top: 15px;
}

.btn-light {
    margin: 10px 0;
}

.bt-filter {
    font-size: 0.9em;
    width: 100px;
    background-color: hsl(154, 100%, 18%);
    border: 1px solid hsl(154, 100%, 12%);
}
  
.btn-filter:hover, .btn-filter:focus {
    background-color: hsl(154, 100%, 12%);
    box-shadow: 0 0 5px 0 hsl(154, 100%, 12%);
    cursor: pointer;
}