.btn {
    box-shadow: 2px 2px 2px rgb(146, 146, 146);
    border-radius: 15px;
    padding: 10px;
    margin-left: 42%;
    margin-bottom: 10%;
    text-decoration: none;
    background-color: rgb(202, 163, 228);
    color: white;
    font-weight: 500;
  }