.timer {
    display: flex;
    color: hsl(298, 93%, 24%);
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: center;
    align-items: baseline;
    padding: 13px 0 4px 0;
}
