.blockHome {
    max-height: 80%;
}

.bg-opacity {
    background-color: white;
    opacity: 0.875;
    border-radius: 15px;
    max-width: 700px;
    min-width: 200px;
}

.background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.btn-home {
    display: flex;
    justify-content: center;
}

.passageiros {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media(min-width: 400px) {
    .blockHome2 {
        padding-top: 30px;
        padding-bottom: 20px;
    }
}

@media(max-width: 380px) {
    .blockHome {
        max-height: 75%;
    }
}

@media(max-width: 360px) {
    .blockHome2 {
        padding-top: 0;
        padding-bottom: 0;
        font-size: 0.7em;
    }
}