.loading-bar {
    background: linear-gradient(to right, hsl(154, 100%, 48%), hsl(154, 100%, 1%));
    width: 100vw;
    box-shadow: 0 0 3px 0 black;
}

.plane {
    height: 100%;
    animation: progress-animation 7s ease-in-out;
}

@keyframes progress-animation {
    0% {
        margin-left: 0%;
    }

    100% {
        margin-left: 100%;
        color: white
    }
}